<template>
  <div>
    <h2>Expense Categories</h2>
    <div>
    <table class="category-table">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Description</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="category in categories" :key="category.id" @click="openEditModal(category)">
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>{{ category.formatted_created_at }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    </div>

    <category-add-modal ref="categoryAddModal" title="Add Category" @submit="handleUpdateCategorySubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a category add modal!</h2>
      <p>This is some modal content.</p>
    </category-add-modal>

    <category-edit-modal ref="categoryEditModal" :category_info="selectedCategory" title="Edit Category" @submit="handleUpdateCategorySubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a category edit modal!</h2>
      <p>This is some modal content.</p>
    </category-edit-modal>

    <br/>
    <div align="right">
        <button type="submit" @click="openNewModal()">Add Category</button>
    </div>

  </div>
</template>

<style scoped>
.category-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.category-table th, .category-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.category-table th {
  background-color: #f2f2f2;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

</style>

<script>
import api from '../api';
import CategoryAddModal from './CategoryAddModal.vue';
import CategoryEditModal from './CategoryEditModal.vue';

export default {
  data() {
    return {
      categories: [],
      selectedCategory: null,
      showModal: false,
    };
  },
  mounted() {
    this.fetchCategories();
  },
  components: {
    CategoryAddModal,
    CategoryEditModal,
  },
  methods: {
    fetchCategories() {
      api.get('/categories')
        .then(response => {
          this.categories = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching categories:', error);
        });
    },
    openNewModal() {
      this.$refs.categoryAddModal.openModal();
    },
    openEditModal(category) {
      this.selectedCategory = category;
      this.$refs.categoryEditModal.openModal();
    },
    handleUpdateCategorySubmit() {
      this.fetchCategories();
    },
    deleteCategory(categoryId) {
      if (confirm('Are you sure you want to delete this category?')) {
        api.delete(`/categories/${categoryId}`)
          .then(() => {
            this.fetchCategories();
          })
          .catch(error => {
            console.error('Error deleting category:', error);
          });
      }
    },
  },
};
</script>