<template>
  <div>
    <br/>
    <br/>
    My Expenses
    <div class="expenses-container">
      <div class="table-container">
        <table class="expense-table">
          <thead>
            <tr>
              <th>Expense Category</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(amount, category) in categoryAmounts" :key="category">
              <td>{{ category }}</td>
              <td>{{ amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pie-chart-container">
        <pie-chart :chart-data="pieChartData" />
      </div>
    </div>
  </div>
</template>

<script>
import PieChart from '../components/PieChart.vue';
import api from '../api';

export default {
  components: {
    PieChart,
  },
  data() {
    return {
      pieChartData: {
        labels: [],
        series: [],
      },
      categoryAmounts: {},
    };
  },
  mounted() {
    this.fetchExpensesData();
  },
  methods: {
    fetchExpensesData() {
      api.get('/expenses')
        .then(response => {
          const expensesData = response.data.data;

          const categoryAmounts = {};

          expensesData.forEach(expense => {
            const category = expense.category_name;
            const amount = parseFloat(expense.amount);

            if (!categoryAmounts[category]) {
              categoryAmounts[category] = 0;
            }

            categoryAmounts[category] += amount;
          });

          const categories = Object.keys(categoryAmounts);
          const amounts = Object.values(categoryAmounts);

          this.pieChartData = {
            labels: categories,
            series: amounts,
          };

          this.categoryAmounts = categoryAmounts;
        })
        .catch(error => {
          console.error('Error fetching expenses data:', error);
        });
    },
  },
};
</script>

<style scoped>
.expenses-container {
  display: flex;
}

.table-container {
  width: 50%; /* Adjust the width as needed */
}

.pie-chart-container {
  width: 50%; /* Adjust the width as needed */
}

/* Add your styling for the table */
.expense-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.expense-table th, .expense-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.expense-table th {
  background-color: #f2f2f2;
}
</style>