<template>
     <div>
       <div id="sidebar">
         <router-link to="/user-management">User Management</router-link>
         <router-link to="/expense-management">Expense Management</router-link>
       </div>
       <div id="content">
         <router-view></router-view>
       </div>
     </div>
   </template>

   <script>
   export default {
     // Your layout component logic goes here
   };
   </script>