<template>
  <div>
    <h2>Expenses</h2>
    <div>
    <table class="expense-table">
      <thead>
        <tr>
          <th>Expense Category</th>
          <th>Amount</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="expense in expenses" :key="expense.id" @click="openEditModal(expense)">
          <td>{{ expense.category_name }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.formatted_created_at }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    </div>

    <expense-add-modal ref="expenseAddModal" title="Add Expense" @submit="handleUpdateExpenseSubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a expense add modal!</h2>
      <p>This is some modal content.</p>
    </expense-add-modal>

    <expense-edit-modal ref="expenseEditModal" :expense_info="selectedExpense" title="Edit Expense" @submit="handleUpdateExpenseSubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a expense edit modal!</h2>
      <p>This is some modal content.</p>
    </expense-edit-modal>

    <br/>
    <div align="right">
        <button type="submit" @click="openNewModal()">Add Expense</button>
    </div>

  </div>
</template>

<style scoped>
.expense-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.expense-table th, .expense-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.expense-table th {
  background-color: #f2f2f2;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

</style>

<script>
import api from '../api';
import ExpenseAddModal from './ExpenseAddModal.vue';
import ExpenseEditModal from './ExpenseEditModal.vue';

export default {
  data() {
    return {
      expenses: [],
      selectedExpense: null,
      showModal: false,
    };
  },
  mounted() {
    this.fetchExpenses();
  },
  components: {
    ExpenseAddModal,
    ExpenseEditModal,
  },
  methods: {
    fetchExpenses() {
      api.get('/expenses')
        .then(response => {
          this.expenses = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching expenses:', error);
        });
    },
    openNewModal() {
      this.$refs.expenseAddModal.openModal();
    },
    openEditModal(expense) {
      this.selectedExpense = expense;
      this.$refs.expenseEditModal.openModal();
    },
    handleUpdateExpenseSubmit() {
      this.fetchExpenses();
    },
    deleteExpense(expenseId) {
      if (confirm('Are you sure you want to delete this expense?')) {
        api.delete(`/expenses/${expenseId}`)
          .then(() => {
            this.fetchExpenses();
          })
          .catch(error => {
            console.error('Error deleting expense:', error);
          });
      }
    },
  },
};
</script>