<template>
  <div id="app">
    <Header />
    <SideMenu />
    <MainContent />
  </div>
</template>

<script>
import Header from '../components/Header.vue';
import SideMenu from '../components/SideMenu.vue';
import MainContent from '../components/MainContent.vue';

export default {
  components: {
    Header,
    SideMenu,
    MainContent,
  },
};
</script>

<style scoped>
#app {
  display: flex;
  height: 100vh;
}
</style>
