<template>
  <div class="expense-edit-modal" v-if="showModal">
    <div class="modal-content">
      Add Expense
      <div class="seperator">
        <h5><span></span></h5>
      </div>
      <span class="close" @click="closeModal">&times;</span>
      <form @submit.prevent="submitForm">
      <table>
      <tbody>
        <tr>
          <td><label for="category_id">Expense Category:</label></td>
          <td>
            <select id="category" v-model="expenseInfo.category_id" required>
              <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="amount">Amount:</label></td>
          <td><input type="amount" id="amount" v-model="expenseInfo.amount" placeholder="Amount" required></td>
        </tr>
        <tr>
          <td><label for="entry_date">Entry Date:</label></td>
          <td><input type="date" id="entry_date" v-model="expenseInfo.entry_date" required></td>
        </tr>
      </tbody>
      </table>
      <div>
        <table width="100%">
          <tbody>
            <tr>
              <td align="left">
                <button class="button3" @click="deleteRecord">Delete</button>
              </td>
              <td align="right">
                <button class="button2" @click="closeModal">Cancel</button>
                <button class="button1" type="submit">Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </form>
    </div>
  </div>
</template>

<script>
import api from '../api';
export default {
  props: {
    expense_info: {
      type: Object,
      default: () => ({ category_id: '', amount: null, entry_date: null }),
    },
  },
  data() {
    return {
      categories: [],
      showModal: false,
      expenseInfo: { ...this.expense_info }, // Initialize with prop value
    };
  },
  watch: {
    expense_info(newValue) {
      // Update internal state when the prop changes
      this.expenseInfo = { ...newValue };
    },
  },
  mounted() {
    this.fetchCategories();
  },
  methods: {
    fetchCategories() {
      api.get('/categories')
        .then(response => {
          this.categories = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching categories:', error);
        });
    },
    openModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    submitForm() {
      // Emit an event with user information
      // this.$emit('submit', this.expenseInfo);
      
      const expenseId = this.expenseInfo.id;
      // Handle form submission and update user using api.put(`/expenses/${expenseId}`, formData)
      // const expenseId = this.editedUser.id;
      api.post(`/expenses`, this.expenseInfo)
        .then(() => {
          this.$emit('submit', this.expenseInfo);
        })
        .catch(error => {
          console.error('Error updating user:', error);
        });
      
      // Close the modal
      this.closeModal();
    },
    deleteRecord() {
      // Emit an event with user information
      // this.$emit('submit', this.expenseInfo);
      
      const expenseId = this.expenseInfo.id;
      // Handle form submission and update user using api.put(`/expenses/${expenseId}`, formData)
      // const expenseId = this.editedUser.id;
      api.delete(`/expenses/${expenseId}`)
        .then(() => {
          this.$emit('submit', this.expenseInfo);
        })
        .catch(error => {
          console.error('Error deleting user:', error);
        });
      
      // Close the modal
      this.closeModal();
    },
  },
};
</script>

<style scoped>
/* Add your modal styles here */
.expense-edit-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

.button1 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button2 {
  background-color: #808080;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button3 {
  background-color: #ff4c4c;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.seperator h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0em;
}

.seperator h5::before,
.seperator h5::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #ccc;
}

.seperator h5 span {
  padding: 0 0em;
}
</style>