<template>
  <header class="app-header">
    <h6>{{ title }}</h6>
    <button @click="logout">Logout</button>
  </header>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      title: 'Welcome to Expense Manager',
    };
  },
  methods: {
    async logout() {
      try {
        // Make a request to the /logout endpoint
        await axios.post('/logout');

        // Assuming the request was successful, you can perform additional logout logic
        console.log('Logout successful');

        // For example, you might want to redirect the user to the login page
        // You can use Vue Router for navigation
        this.$router.push('/login');
      } catch (error) {
        console.error('Logout error:', error);

        // Handle any errors that occurred during the logout process
        // For example, show an error message to the user
      }
    },
  },
};
</script>

<style scoped>
/* Add your header styles here */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 208px;
  right: 0;
  text-align: right;
  float: right;
}

h6 {
  margin: 0;
}

button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}
</style>