<template>
  <div class="main-content">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'MainContent',
};
</script>

<style scoped>
.main-content {
  flex-grow: 1;
  padding: 20px;
}
</style>