<!-- PieChart.vue -->
<template>
  <div>
    <apexchart type="pie" :options="chartOptions" :series="chartSeries" />
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts';

export default {
  components: {
    apexchart: VueApexCharts,
  },
  props: {
    chartData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      chartOptions: {
        labels: this.chartData.labels,
      },
      chartSeries: this.chartData.series,
    };
  },
  watch: {
    chartData: {
      handler(newData) {
        this.chartOptions.labels = newData.labels;
        this.chartSeries = newData.series;
      },
      deep: true,
    },
  },
};
</script>