<template>
  <div>
    <h2>Roles</h2>
    <div>
    <table class="role-table">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Description</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="role in roles" :key="role.id" @click="openEditModal(role)">
          <td>{{ role.name }}</td>
          <td>{{ role.description }}</td>
          <td>{{ role.formatted_created_at }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    </div>

    <role-add-modal ref="roleAddModal" title="Add Role" @submit="handleUpdateRoleSubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a role add modal!</h2>
      <p>This is some modal content.</p>
    </role-add-modal>

    <role-edit-modal ref="roleEditModal" :role_info="selectedRole" title="Edit Role" @submit="handleUpdateRoleSubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a role edit modal!</h2>
      <p>This is some modal content.</p>
    </role-edit-modal>

    <br/>
    <div align="right">
        <button type="submit" @click="openNewModal()">Add Role</button>
    </div>

  </div>
</template>

<style scoped>
.role-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.role-table th, .role-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.role-table th {
  background-color: #f2f2f2;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

</style>

<script>
import api from '../api';
import RoleAddModal from './RoleAddModal.vue';
import RoleEditModal from './RoleEditModal.vue';

export default {
  data() {
    return {
      roles: [],
      selectedRole: null,
      showModal: false,
    };
  },
  mounted() {
    this.fetchRoles();
  },
  components: {
    RoleAddModal,
    RoleEditModal,
  },
  methods: {
    fetchRoles() {
      api.get('/roles')
        .then(response => {
          this.roles = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching roles:', error);
        });
    },
    openNewModal() {
      this.$refs.roleAddModal.openModal();
    },
    openEditModal(role) {
      this.selectedRole = role;
      this.$refs.roleEditModal.openModal();
    },
    handleUpdateRoleSubmit() {
      this.fetchRoles();
    },
    deleteRole(roleId) {
      if (confirm('Are you sure you want to delete this role?')) {
        api.delete(`/roles/${roleId}`)
          .then(() => {
            this.fetchRoles();
          })
          .catch(error => {
            console.error('Error deleting role:', error);
          });
      }
    },
  },
};
</script>