<template>
  <div class="menu-item" :style="myStyle" id="wrapper">
    <br>
    <div class="menuheader">
      <div>{{ userName }} ({{ userRole }})</div>
    </div>
    <div class="menuheader">
      <router-link to="/">Dashboard</router-link>
    </div>
    <div class="menuheader" @click="toggleUserMenu" v-if="isAdmin">
      User Management
    </div>
    <div class="children-wrapper" v-if="isAdmin">
      <ul class="children-menu" v-show="menuUserOpen" transition="slide-in-out" v-el:menu-content>
        <router-link to="/user-management/roles">Roles</router-link>
        <router-link to="/user-management/users">Users</router-link>
      </ul>
    </div>
    <div class="menuheader" @click="toggleExpenseMenu">
      Expense Management
    </div>
    <div class="children-wrapper">
      <ul class="children-menu" v-show="menuExpenseOpen" transition="slide-in-out" v-el:menu-content>
        <router-link to="/expense-management/categories">Expense Categories</router-link>
        <router-link to="/expense-management/expenses">Expenses</router-link>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      myStyle: {
        backgroundColor: "#16a085",
      },
      menuUserOpen: true,
      menuExpenseOpen: true,
      height: 0,
      users: [],
      userName: '',
      userRole: '',
      isAdmin: false,
    };
  },

  mounted() {
    //TO DO - need pa kunin sa local storage ang role para ma restrict ang access
    //const userData = JSON.parse(localStorage.getItem('user'));
    const userData = {
      name: 'John Doe',
      role: 'Admin',
    };

    this.userName = userData.name;
    this.userRole = userData.role;
    this.isAdmin = this.userRole === 'Admin';
  },

  methods: {
    toggleUserMenu: function () {
      this.menuUserOpen = !this.menuUserOpen;
    },
    toggleExpenseMenu: function () {
      this.menuExpenseOpen = !this.menuExpenseOpen;
    },
  },
};
</script>

<style scoped>
* {
    box-sizing: border-box;
}

.menu-item {
    width: 208px;
    background: #CCC;
    margin: 20px auto;
}

.menuheader {
    font-size: 12px;
    padding: 10px;
    background: #16a085;
    color: #FFF;
}

.children-wrapper {
    overflow: hidden;
    color: #FFF;
}

.children-menu {
    font-size: 12px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    
    a {
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 32px;
        text-decoration: none;
    }
}
</style>