<template>
  <div class="user-add-modal" v-if="showModal">
    <div class="modal-content">
      Add User
      <div class="seperator">
        <h5><span></span></h5>
      </div>
      <span class="close" @click="closeModal">&times;</span>
      <form @submit.prevent="submitForm">
      <table>
      <tbody>
        <tr>
          <td><label for="name">Name:</label></td>
          <td><input type="text" id="name" v-model="userInfo.name" placeholder="Name" required></td>
        </tr>
        <tr>
          <td><label for="email">Email:</label></td>
          <td><input type="email" id="email" v-model="userInfo.email" placeholder="Email" required></td>
        </tr>
        <tr>
          <td><label for="role">Role:</label></td>
          <td>
            <select id="role" v-model="userInfo.role_id" required>
              <option v-for="role in roles" :key="role.id" :value="role.id">{{ role.name }}</option>
            </select>
          </td>
        </tr>
      </tbody>
      </table>
      <div align="right">
        <button class="button2" @click="closeModal">Cancel</button>
        <button class="button1" type="submit">Save</button>
      </div>
      </form>
    </div>
  </div>
</template>

<script>
import api from '../api';
export default {
  data() {
    return {
      roles: [],
      showModal: false,
      userInfo: { 
        name: '',
        email: '',
        role_id: null
      },
    };
  },
  mounted() {
    this.fetchRoles();
  },
  methods: {
    fetchRoles() {
      api.get('/roles')
        .then(response => {
          this.roles = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching users:', error);
        });
    },
    openModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    },
    submitForm() {
      // Emit an event with user information
      //this.$emit('submit', this.userInfo);
      api.post(`/users`, this.userInfo)
        .then(() => {
          this.$emit('submit', this.userInfo);
        })
        .catch(error => {
          console.error('Error updating user:', error);
        });
      // Close the modal
      this.closeModal();
    },
  },
};
</script>

<style scoped>
/* Add your modal styles here */
.user-add-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

.button1 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button2 {
  background-color: #808080;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.seperator h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0em;
}

.seperator h5::before,
.seperator h5::after {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  background: #ccc;
}

.seperator h5 span {
  padding: 0 0em;
}
</style>