<template>
  <div>
    <h2>Users</h2>
    <div>
    <table class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email Address</th>
          <th>Role</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id" @click="openEditModal(user)">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role_name }}</td>
          <td>{{ user.formatted_created_at }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    </div>

    <user-add-modal ref="userAddModal" title="Add User" @submit="handleUpdateUserSubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a user add modal!</h2>
      <p>This is some modal content.</p>
    </user-add-modal>

    <user-edit-modal ref="userEditModal" :user_info="selectedUser" title="Edit User" @submit="handleUpdateUserSubmit">
      <!-- Content for the modal goes here -->
      <h2>Hello, I'm a user edit modal!</h2>
      <p>This is some modal content.</p>
    </user-edit-modal>

    <br/>
    <div align="right">
        <button type="submit" @click="openNewModal()">Add User</button>
    </div>

  </div>
</template>

<style scoped>
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

</style>

<script>
import api from '../api';
import UserAddModal from './UserAddModal.vue';
import UserEditModal from './UserEditModal.vue';

export default {
  data() {
    return {
      users: [],
      selectedUser: null,
      showModal: false,
    };
  },
  mounted() {
    this.fetchUsers();
  },
  components: {
    UserAddModal,
    UserEditModal,
  },
  methods: {
    fetchUsers() {
      api.get('/users')
        .then(response => {
          this.users = response.data.data;
        })
        .catch(error => {
          console.error('Error fetching users:', error);
        });
    },
    openNewModal() {
      this.$refs.userAddModal.openModal();
    },
    openEditModal(user) {
      this.selectedUser = user;
      this.$refs.userEditModal.openModal();
    },
    handleUpdateUserSubmit() {
      this.fetchUsers();
    },
    deleteUser(userId) {
      if (confirm('Are you sure you want to delete this user?')) {
        api.delete(`/users/${userId}`)
          .then(() => {
            this.fetchUsers();
          })
          .catch(error => {
            console.error('Error deleting user:', error);
          });
      }
    },
  },
};
</script>