<template>
    <div>
       <h2>User Managementavsdvs</h2>
       <!-- Your user management content goes here -->
       scsacasc
    </div>
</template>

<script>
   export default {
     // Your component logic goes here
   };
</script>